# Terraform state and local overrides – never commit these
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Python venv addition
.venv/

#vscode
.vscode/